# systemd 服务配置 - FileHost 前端
# 路径: /etc/systemd/system/filehost.service
# 最后更新: 2025-11-06

[Unit]
Description=FileHost Web Service
After=network.target

[Service]
WorkingDirectory=/var/www/filehost
ExecStart=/usr/bin/dotnet /var/www/filehost/FileHost.dll
Restart=always
RestartSec=5
SyslogIdentifier=filehost
User=root
Environment="ASPNETCORE_ENVIRONMENT=Production"
Environment="ASPNETCORE_URLS=http://127.0.0.1:5000"
Environment="DOTNET_PRINT_TELEMETRY_MESSAGE=false"
Environment="Admin__Username=admin"
Environment="Admin__PasswordHash=wwnvEF8H53FSnOUkbVe3eDd8vmr1Mc5OsqLx5AnPQA0="
Environment="Admin__Salt=7ZsM1lDDbr0DUPsJ4yUsXw0fM8eqQ0xy/GseZBBDhTc="
Environment="Admin__SecretKey=YOnNj71fTxCEbHTUK9D91XM0dIRcgAybBI96M1ByPt4="
Environment="ApiBaseUrl=https://filehostapi.downf.cn"

[Install]
WantedBy=multi-user.target
